.register {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  a {
    text-decoration: none;
    h1 {
      margin-bottom: 2rem;
      text-align: center;
      color: #f57207;
    }
  }

  .register__form {
    max-width: 800px;
    width: 100%;
    border: 2px solid gray;
    border-radius: 15px;
    padding: 1.5rem;
    color: #fff;
    h2 {
      margin-bottom: 1rem;
    }
    input {
      margin-bottom: 2rem;
      width: 100%;
      padding: 0.5rem;
      border-radius: 5px;
    }
    .register__form__email__container,
    .register__form__password__container {
      display: flex;
      .register__form__email,
      .register__form__password {
        margin-right: 2rem;
      }
    }
  }
}
