.userbar {
  padding: 1rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  p {
    color: #fff;
    text-align: right;
    cursor: pointer;
    a {
      color: #fff;
      text-decoration: none;
    }
  }
}
