.welcome {
  h1 {
    font-family: "Poppins", sans-serif;
    font-size: 15rem;
    margin-bottom: 2rem;
    color: #f57207;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  p {
    color: #fff;
  }
  .welcome--register {
    color: #f57207;
  }
}
